/*
For example...
*/

package day{{printf "%02d" .Day}}_test

import (
	"testing"

	"github.com/matryer/is"

	"go.jlucktay.dev/adventofcode/{{.Year}}/day{{printf "%02d" .Day}}"
)

func TestPart2(t *testing.T) {
	is := is.New(t)

	testCases := map[string]struct {
		in   string
		want int
	}{
		"empty": {"", 0},
	}

	for desc, testCase := range testCases {
		t.Run(desc, func(t *testing.T) {
			is := is.New(t)

			got, err := day{{printf "%02d" .Day}}.Part2(testCase.in)
			is.NoErr(err)
			is.Equal(got, testCase.want)
		})
	}
}
