// Package day{{printf "%02d" .Day}} for Advent of Code {{.Year}}, day {{.Day}}, part 1.
// https://adventofcode.com/{{.Year}}/day/{{.Day}}
package day{{printf "%02d" .Day}}

func Part1(input string) (int, error) {
	_, err := parseInput(input)
	if err != nil {
		return 0, err
	}

	result := 0

	for range 27 {
		result += 42
	}

	return result, nil
}
