# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/go.yaml
      - .golangci.yaml
      - Taskfile.yaml
      - '**/*.go'
      - '**/go.mod'
      - '**/go.sum'

  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/go.yaml
      - .golangci.yaml
      - Taskfile.yaml
      - '**/*.go'
      - '**/go.{mod,sum}'

jobs:
  test-cover:
    name: Test coverage

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: '^1'
          check-latest: true

      - uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: luisnquin/setup-gofumpt@v2

      - uses: golangci/golangci-lint-action@v9
        with:
          args: >-
            --build-tags=skip_embed
            --verbose

      - name: Run task for all unit tests
        run: task go:test

        # This step name is linked in the '.octocov.yml' configuration file.
      - if: github.event_name == 'pull_request'
        name: Run task to gather Go test coverage
        run: task go:test:cover

      - if: github.event_name == 'pull_request'
        uses: k1LoW/octocov-action@v1
